.movie {
  width: 420px;
  margin: 0px 0px;
  font-size: 10px;
  text-align: justify;
  padding: 0px 0px;
}

.p {
  margin: 0px;
  padding: 0 5px 0 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.movie h3 {
  font-size: 17px;
  text-align: justify;
}
.movieImagen {
  width: 200px;
  height: 300px;
}

.ancho {
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  margin: 0px 0px 0px 0px;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.estrella {
  width: 10px;
  max-width: 10%;
}

.contenedor-estrella {
  display: flex;
}
